#autofill-form {
  background-color: #f5f5f5;
  padding: 24px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

.autofill--text {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica",
    "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #171417;
}

.autofill--secondary-text {
  color: #959b9e;
}

.autofill--heading {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 8px;
  width: 400px;
}

.autofill--background-icon {
  background-size: 16px !important;
  background-position-x: 16px !important;
  background-position-y: 50% !important;
  background-repeat: no-repeat !important;
}

.autofill--row {
  display: block;
  position: relative;
  margin-bottom: 16px;
  width: 400px;
}

.autofill--findme {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3333ff;
}

.autofill--findme img {
  display: none;
}

.autofill--input {
  box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e0ddde;
  border-radius: 4px;
}

.autofill--input::placeholder {
  color: #777777;
  opacity: 1;
}

.autofill--input:hover,
.autofill--input:focus {
  outline: none;
  border-color: #3333ff;
}

#autofill-dropdown {
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #f4f4f4;
  width: 400px;
  top: 40px;
  z-index: 10;
}

#autofill-suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.autofill--dropdown-item:hover {
  background-color: #f1f1f1;
}

.autofill--dropdown-item {
  padding: 16px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #f4f4f4;
  width: 100%;
  border: none;
  text-align: left;
}

.autofill--dropdown-item div {
  pointer-events: none;
}

.autofill--copyright {
  background: #faf8f8;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autofill--error {
  padding: 8px 16px;
  padding-left: 48px;
  background: #fcedec;
  color: #980500;
  border: 1px solid rgba(152, 5, 0, 0.3);
  border-radius: 4px;
  margin: 8px;
  background-image: url("https://files.readme.io/62b6781-errorIcon.svg");
}

.autofill-button {
  background: #3333ff;
  border-radius: 4px;
  outline: none;
  margin-left: 16px;
  padding: 8px 16px;
  box-shadow: none !important;
  border: none;
  color: #fff;
  cursor: pointer;
}

.autofill--row:nth-child(2) p {
  font-size: 14px;
  margin: 12px 0;
}

.autofill--row:last-child {
  display: flex;
  justify-content: flex-end;
}

.autofill-button:first-child {
  color: #3333ff;
  border: 1px solid #3333ff;
  background: #fff;
  margin: 0px;
}

@media only screen and (min-width: 640px) {
  .autofill--row {
    display: flex;
  }

  .autofill--findme {
    flex-direction: row;
  }

  .autofill--findme img {
    display: block;
    width: 14px;
    padding: 0px 5px;
  }
}
