.friendOnline {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.friendImg {
    height: 50px;
    width: 75px;
    border-radius: 50%;
}

.friendOnlineBadge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lime;
}