.map-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex: 1;
  height: calc(100vh - 100px);
}

.map-container {
  flex: 0 1 60%; /* Change the flex-basis value to 60% */
  height: calc(100vh - 100px);
  width: 100%;
}

.input-container,
.logbook-container {
  font-size: 20px;
  height: calc(100vh - 100px);
  width: 20%;
  line-height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  flex: 0 1 20%; /* Change the flex-basis value to 20% */
}

.logbook-container {
  flex: 0 1 20%; /* Change the flex-basis value to 20% */
}

.input-container button {
  width: 50%;
  height: 40px;
  font-size: 20px;
  margin: 10px;
}

.input-container input,
.input-container autocomplete {
  width: 75%;
  font-size: 20px;
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
}

.saved-routes-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y:scroll;
	height: 240px;
	border: solid 1px #ccc;
}

.saved-routes-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 30px;
}

.saved-routes-li p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.saved-routes-li button {
  border: none;
  background-color: transparent;
  color: #cc0000;
  font-size: 25px;
  font-weight: bold;
}

.saved-routes-li button:hover {
  color: #990000;
}

.logbook-ul {
	overflow-y:scroll;
	height: 400px;
	width: 350px;
	border: solid 1px #ccc;
}

.logbook-li {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: space-between;
	width: 80%;
}

.logbook-edit-form {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
}

.logbook-edit-form input {
	width: 100%;
}

.logbook-edit-form #notes {
	width: 100%;
	min-height: 100px;
	font-size: 16px;
	line-height: 1.5;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical; 
}