* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 100%;
}

.mapBackground {
  /* Set the position and size of the map container */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Set the z-index so that it is behind the other content */
  z-index: -1;
}

.row {
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1300px;
  height: 80%;
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 8px 12px;
  background-color: #333;
}

.left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 25%;
  background-color: #eaf6f6;
}

.middle {
  width: 45%;
  background-color: #ffffff;
}

.right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 30%;
  background-color: #66bfbf;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.FriendSearch {
  width: 90%;
}

.chatBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatBoxMessages {
  overflow-y: auto;
}

/* https://getcssscan.com/css-buttons-examples */
.messageSubmite {
  background: #535cfe;
  border: 1px solid hsl(238, 100%, 54%);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.messageSubmite:hover,
.messageSubmite:active {
  background-color: initial;
  background-position: 0 0;
  color: #426eff;
  opacity: 0.5;
}

.messageInputContainer {
  float: left;
  width: 80%;
}

.messageSubmitContainer {
  float: right;
  width: 20%;
}

.ChatMessageInput {
  width: 300px;
  resize: none;
}
