.login form,
.register form {
  display: flex;
  flex-direction: column;
  width: 300px;
  div {
    margin: 10px 0;
  }
}

.home {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  width: 100%;
  justify-content: flex-end;

  .bg {
    position: absolute;
    height: 100%;
    width: 600px;
    top: 0;
    left: 0;
    text-align: right;
  }
  .intro {
    display: flex;
    flex: 0.45;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 200px;
  }
}
.profile {
  min-width: 400px;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .pimage {
    width: 50%;
    height: auto;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 2em;
    }
    #a_icon {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 650px) {
  .login form,
  .register form {
    width: 90%;
  }
}
