.login form,
.register form {
  display: flex;
  flex-direction: column;
  width: 300px;
  div {
    margin: 10px 0;
  }
}

.home {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .login form,
  .register form {
    width: 90%;
  }
}
